<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="styleIndex.css">
</head>

<nav id="nav-list">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about" >About</a></li>
        <li><a href="/works">Works</a></li>
    </ul>
  </nav>

<body>
    <h1>Lewis Capaldi</h1>
    <div id="celebrity">
        <img src="/img/Lewis-Capaldi-1.avif" width="90" height="auto">
        <img src="/img/Lewis-Capaldi-2.jpeg" width="90" height="auto">
        <img src="/img/Lewis-Capaldi-3.avif" width="90" height="auto">
        <img src="/img/Lewis-Capaldi-4.jpeg" width="90" height="auto">
        <img src="/img/Lewis-Capaldi-5.jpeg" width="90" height="auto">
    </div>
    <div id="name-info">
    <h2>Singer-Songwriter</h2>
<article id="info">27 years old - 33M Spotify Monthly Listeners - Scottish</article>
    </div>

    <script src="app.js"></script>
</body>

</html>