<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<nav id="nav-list">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a >About</a></li>
        <li><a >Works</a></li>
    </ul>
  </nav>

<body>
    <h1>Lewis Capaldi</h1>
    <div id="celebrity">
        <img>
        <img>
        <img>
        <img>
        <img>
    </div>
    <div id="name-info">
    <h2>Singer-Songwriter</h2>
<article id="info">27 years old - 33M Spotify Monthly Listeners - Scottish</article>
    </div>

    <script src="app.js"></script>
</body>

</html>